<!--<header id="header">-->
  <div class="fixed-top">
    <nav class="inner-wrapper" style="background-color: rgb(255,255,255)">
      <a routerLink="/home"><img src="assets/img/logo.png" class="logo" alt="{{title}}"/></a>
      <a *ngIf="!_open" (click)="openSidebar()" class="headermenu"><i class="fa fa-bars fa-2x" style="color: #333; float: right"></i></a>
      <a *ngIf="_open" (click)="closeSidebar()" class="headermenu"><i class="fa fa-close fa-2x" style="color: #333; float: right"></i></a>
      <a *ngIf="!usercart || usercart.length < 1" routerLink="/cart"><img src="assets/img/cart1.png" class="cartpng" alt="cart"/></a>
      <a *ngIf="usercart && usercart.length > 0" routerLink="/cart" style="float: right"><img src="assets/img/cart2.png" class="cartpng" alt="cart"/><div class="cartcount"><span>{{usercart.length}}</span></div></a>
    </nav>
    <div id="mySidenav" class="sidenav" style="float: right">
      <!--<a href="javascript:void(0)" class="closebtn" (onclick)="closeSidebar()">&times;</a>-->
        <ul>
          <li><a routerLink="/login"><i class="fa fa-user"></i> Iniciar sesión</a></li>
          <li><a routerLink="/account"><i class="fa fa-user"></i> Mi cuenta</a></li>
          <li><a routerLink="/cart"><i class="fa fa-shopping-cart"></i> Mi pedido</a></li>
          <!--<li><a href="#">La Distribuidora</a></li>-->
          <li><a routerLink="/products">Nuestros Productos</a></li>
          <!--<li><a href="#">Destacados</a></li>-->
          <!--<li><a href="#">Contacto</a></li>-->
          <li><a routerLink="/home" (click)="logout()">cerrar sesión</a></li>
        </ul>
    </div>
  </div>
<!--</header>-->



