<app-header></app-header>
<div id="login" class="content">
  <h1 class="title"><div class="inner-wrapper">Iniciar sesión</div></h1>
  <div class="inner-wrapper xs">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="flex-column col-12" style="display: inline-flex;">
              <label class="reactform">
                  <input placeholder="User Name" type="text" [(ngModel)]="username" formControlName="username">
                  <mat-error *ngIf="isFieldValid('username')">
                      User Name is required!
                  </mat-error>
              </label>
              <label class="reactform">
                  <input placeholder="Password" type="password" [(ngModel)]="password" formControlName="password">
                  <mat-error *ngIf="isFieldValid('password')">
                      Password is required!
                  </mat-error>
              </label>
              <div class="clearfix"></div>
              <div class="reactform" style="margin-top: 20px">
                  <a routerLink="/register" style="margin-right: 15px">Registro</a>
                  <a routerLink="/forgot-passwd"><i class="fa fa-key"></i>   Recuperar contraseña</a>
                  <button type="submit" [disabled]="false" class="btn-cbgb blue float-right">Enviar</button>
              </div>
              <div class="clearfix"></div>
          </div>
      </form>
  </div>
</div>
<app-footer></app-footer>