<div id="news">
  <div class="inner-wrapper">
    <h5>¿Querés recibir las últimas ofertas y descuentos especiales? <br> Suscribite aquí a nuestro newsletter y no te las pierdas!</h5>
    <form action="">
      <div class="news-field">
        <input type="text" placeholder="E-mail">
      </div>
      <input type="submit" value="Enviar">
    </form>
  </div>
</div>
<div id="footer-bottom">
  <div class="inner-wrapper">
    <small class="float-lg-left float-md-left">todos los derechos reservados</small>
    <small class="float-lg-right float-md-right">
      2018 - Desarrollado por <a href="http://desanda.com.ar/">DESANDA</a>
    </small>
    <div class="clearfix"></div>
  </div>
</div>
