<ngx-spinner size="medium" type="ball-scale-multiple"></ngx-spinner>
<app-header></app-header>
<div id="products" class="content">
  <div id="products-title">
    <div class="inner-wrapper">
      <h1><img src="assets/img/title-vinos.png" alt="">Vinos</h1>
    </div>
  </div>
  <div id="breadcrumbs">
    <div class="inner-wrapper">
      <a routerLink="/home">CBGB</a> <i class="fa fa-angle-right"></i> <a routerLink="/products">Productos</a> <i class="fa fa-angle-right"></i> <a href="">Vinos</a> <i class="fa fa-angle-right"></i> <span>Todos</span>
    </div>
  </div>
  <div id="products-main">
    <div class="inner-wrapper">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">
          <div id="products-options">
            <div id="products-filter">
              <div class="products-option-title">
                <div id="products-view">
                  <a href=""><img src="assets/img/ico-list.png" alt=""></a>
                  <a href=""><img src="assets/img/ico-grid.png" alt=""></a>
                </div>
                <h5><i class="fa fa-filter"></i> Filtrar</h5>

                <div class="clearfix"></div>
              </div>
              <!--<ul *ngFor="let group of origngroup">-->
                <!--<li>-->
                  <!--<a (click)="slectgroup(group.key)">{{group.key}}({{group.value.length}})</a>-->
                <!--</li>-->

                <ngx-treeview
                        [config]="menuconfig"
                        [items]="menuitems"
                        (selectedChange)="onSelectedChange($event)">
                </ngx-treeview>
                <!--<li class="selected"><a>Vinos</a>-->
                  <!--<ul>-->
                    <!--<li class="active"><a href="#">Todos</a></li>-->
                    <!--<li><a href="#">La rural</a></li>-->
                    <!--<li><a href="#">Navarro Correas</a></li>-->
                    <!--<li><a href="#">El Esteco</a></li>-->
                    <!--<li><a href="#">Bodega Trapiche</a></li>-->
                    <!--<li class="all"><a href="#"><i class="far fa-eye"></i>Ver todas las bodegas</a></li>-->
                  <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="">Champagnes</a></li>-->
                <!--<li><a href="">Whiskies y espirituosas</a></li>-->
                <!--<li><a href="">Cervezas, coolers y sin alcohol</a></li>-->
              <!--</ul>-->
            </div>
            <div id="products-order">
              <div class="products-option-title">
                <h5><i class="fa fa-sort"></i> Ordenar</h5>
              </div>
              <form action="">
                <select name="order" (ngModelChange)="order($event)"
                        [(ngModel)]="odervalue">
                  <option [ngValue]="true">Menor precio</option>
                  <option [ngValue]="false">Mayor precio</option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-12">
          <div id="products-list">
            <h2>
              Estás viendo: <strong>Todas las bodegas</strong>
            </h2>
            <ul *ngFor="let group of bebidagroup">
              <h3>{{group.key}} ({{group.value.length}})</h3>
                  <li *ngFor="let bebida of group.value">
                    <div [ngClass]="[bebida.nuevo ? 'new' : '',  bebida.promo ? 'promo' : '', (!bebida.nuevo && !bebida.promo) ? '' : '']">
                      <img src="assets/img/prod-list-item.png" alt="">
                      <div>
                        <h4>{{bebida.marca}}</h4>
                        <span class="prod-var">{{bebida.descripcion}}</span>
                      </div>
                      <span class="prod-price ">${{bebida.precio_unidad}}</span>
                      <button routerLink="/cart">Agregar</button>
                    </div>
                  </li>
            </ul>
            <!--<pagination-controls  id="some_id"-->
                                  <!--(pageChange)="pageChanged($event)"-->
                                  <!--maxSize="9"-->
                                  <!--directionLinks="true"-->
                                  <!--autoHide="true"-->
                                  <!--responsive="true"-->
                                  <!--previousLabel="Previous"-->
                                  <!--nextLabel="Next"-->
                                  <!--screenReaderPaginationLabel="Pagination"-->
                                  <!--screenReaderPageLabel="page"-->
                                  <!--screenReaderCurrentLabel="You're on page">-->
            <!--</pagination-controls>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
