<app-header></app-header>
<div id="login" class="content">
  <h1 class="title"><div class="inner-wrapper">Registro</div></h1>
  <div class="inner-wrapper xs">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex-column col-12" style="display: inline-flex;">
        <label class="reactform">
          <input placeholder="First Name" type="text" [(ngModel)]="newuser.first_name" formControlName="first_name">
          <mat-error *ngIf="isFieldValid('first_name')">
          First Name is required!
          </mat-error>
        </label>
        <label class="reactform">
          <input placeholder="Last Name" type="text" [(ngModel)]="newuser.last_name" formControlName="last_name">
          <mat-error *ngIf="isFieldValid('last_name')">
            Last Name is required!
          </mat-error>
        </label>
        <label class="reactform">
          <input placeholder="User Name" type="text" [(ngModel)]="newuser.username" formControlName="username">
          <mat-error *ngIf="isFieldValid('username')">
            User Name is required!
          </mat-error>
        </label>
        <label class="reactform">
          <input placeholder="Email" type="email" [(ngModel)]="newuser.email" formControlName="email">
          <mat-error *ngIf="isFieldValid('email')">
            Email is required!
          </mat-error>
        </label>
        <label class="reactform">
          <input placeholder="Contacto" type="text" [(ngModel)]="newuser.contacto" formControlName="contacto">
          <mat-error *ngIf="isFieldValid('contacto')">
            Contacto is required!
          </mat-error>
        </label>
        <label class="reactform">
          <input placeholder="Password" type="password" [(ngModel)]="newuser.password" (click)="inputpass()" formControlName="password">
          <mat-error *ngIf="isFieldValid('password')">
            Password is required!
          </mat-error>
        </label>
        <label class="reactform">
          <input placeholder="Confirm Password" type="password" [(ngModel)]="confirmpasswd" (click)="inputpass()" formControlName="confirmpass">
        </label>
      <mat-error class="reactform" *ngIf="!checkpasswd" style="color: red">
        invalid password!
      </mat-error>
        <div class="clearfix"></div>
      <div class="reactform" style="margin-top: 20px">
        <a routerLink="/login" style="margin-right: 15px; margin-left: 30px">Iniciar sesión</a>
        <button type="submit" [disabled]="false" class="btn-cbgb blue float-right">Enviar</button>
      </div>
      <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>