<app-header></app-header>
<div id="account" class="content">
  <h1 class="title"><div class="inner-wrapper">Helpers</div></h1>
  <div class="inner-wrapper sm">
    <div class="flash-msg success"><i class="fa fa-check"></i> Mensaje éxito</div>
    <div class="flash-msg error"><i class="fa fa-times"></i> Mensaje error</div>
    <div class="flash-msg warning"><i class="fa fa-exclamation-triangle"></i> Mensaje aviso</div>
    <a href="#" class="btn-cbgb blue">Botón azul</a>
    <a href="#" class="btn-cbgb white">Botón blanco</a>
  </div>
</div>
<app-footer></app-footer>