/* You can add global styles to this file, and also import other style files */
@import "assets/css/style.css";
@import "assets/css/libs.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import '~ngx-toastr/toastr.css';
@import "~ngx-smart-modal/ngx-smart-modal.scss";
@import "~ngx-smart-modal/ngx-smart-modal.css";

.mat-error {
    float: right;
    font-size: small;
    color: red;
}
.reactform {
    padding-top: 10px;
}
.mat-focused .placeholder {
    color: transparent;
    display: none;
}
.cartpng {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.cartcount {
    position: relative;
    width: 20px;
    right: -20px;
    top: 3px;
    height: 20px;
    background-color: #f7403d;
    border-radius: 50%;
}
.cartcount> span{
    top: -2px;
    position: absolute;
    right: 5px;
    font-weight: 600;
    color: white;
}
.headermenu {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 10px;
}
.fixed-top {
    background-color: white !important;
}
.toast-top-full-width {
    margin-top: 170px;
}
.toast-success {
    background-color: #28a528;
}
.toast-error {
    background-color: #ce0e0e;
}
.toast-info {
    background-color: #2F96B4;
}
.toast-warning {
    background-color: #e47d10;
}
.cart-confirm {
    margin-bottom: 50px;
}

.cart-confirm a{
    display: block;
}

.cart-confirm a:first-of-type {
    width: 150px;
}

.cart-confirm a:last-of-type {
    width: 200px;
}

.cart-confirm a:last-of-type:hover {
    background: #1d7d20;

}
.confirmbtn {
    background: #2e2e2e;
    color: #fff;
    margin: 0 5px;
}
.cancelbtn {
    background: #fff;
    color: #2e2e2e;
    border: solid 1px #2e2e2e;
    margin: 0 5px;
}