<app-header></app-header>
<div id="cart" class="content">
    <h1 class="title"><div class="inner-wrapper">Confirmación de compra</div></h1>
    <div class="inner-wrapper sm">
        <div id="cart-user" *ngIf="currentuser">
            <h2><i class="fa fa-user"></i> Datos de usuario</h2>
            <div><span>Nombre: </span> {{currentuser.username}}</div>
            <div><span>E-mail: </span> {{currentuser.email}}</div>
            <div><span>Teléfono: </span> 12345678</div>
        </div>
        <div id="cart-detail">
            <table>
                <tr>
                    <th data-breakpoints="xs"></th>
                    <th>Producto</th>
                    <th data-breakpoints="xs">Cantidad</th>
                    <th >Precio</th>
                    <th ></th>
                </tr>
                <tr *ngFor="let product of cartproducts">
                    <td><img src="assets/img/prod-list-item.png" alt=""></td>
                    <td>{{product.descripcion}}</td>
                    <td>
                        <input type="number" min="1" step="1" (ngModelChange)="updateCount(product, $event)" [(ngModel)]="product.count">
                        <!--<input type='number' ngSpinBox step='1' min='1'>-->
                    </td>
                    <td>${{product.precio_unidad}}</td>
                    <td><a routerLink="/cart" (click)="remove(product)"><i class="fa fa-close"></i></a></td>
                </tr>
                 <tr id="cart-total">
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>${{totalprice}}</td>
                </tr>
            </table>
            <div>
                <button routerLink="/products" class="float-left btn-cbgb white"><i class="fa fa-angle-left"></i> Volver a Tienda</button>
                <button type="button" [disabled]="false" class="btn-cbgb blue float-right" (click)="confirmorder()"><i class="fa fa-check"></i>Confirmar pedido</button>
                <div class="clearfix"></div>
            </div>
            <ngx-smart-modal #confirm identifier="confirm">
                <h5>Confirmar pedido</h5>
                <div style="text-align: center">
                    <span>Are you sure about order?</span>
                    <br>
                    <br>
                    <button class="btn-right cancelbtn" (click)="confirm.close()">Cancelar</button>
                    <button class="btn-right confirmbtn" (click)="order()"><i class="fa fa-check"></i>Confirmar</button>
                </div>
            </ngx-smart-modal>
        </div>
    </div>
</div>
<app-footer></app-footer>